@model RecordInfo[]

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Text</th>
            <th>Device</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Length; i ++)
        {
            <tr>
                <td>@(Model.Length - i)</td>
                <td>@Model[i].Record.text</td>
                <td>@Model[i].Device</td>
                <td>@Model[i].Date</td>
                <td><a href="@Model[i].MapUrl">@string.Format("{0}, {1}", Model[i].Record.lat, Model[i].Record.lng)</a></td>
            </tr>
        }
    </tbody>
</table>


